* {
  outline-color: #75a7ff;
}

nav {
  height: 90px;
}

.nav-links a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 8px;
  border-radius: 7px;
}

.nav-links a:hover {
  background-color: #e7e6ea;
}

.nav-active-link {
  padding: 8px;
  border-radius: 7px;
  text-decoration: none;
  color: white !important;
  background: linear-gradient(95deg, #2557d6 0%, #8824be 101%);
}

.nav-active-link:hover {
  background: linear-gradient(45deg, #4125ed 0%, #9a00cf 50%, #fe8533 85%);
}

.section-1 {
  background: linear-gradient(157deg, #2557d6 0%, #8824be 100%);
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-details {
  color: white;
}

.contact-info img {
  height: 24px;
  width: 24px;
}

.contact-info p {
  text-transform: uppercase;
  font-weight: bold;
}

.contact-form {
  background-color: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 1px 1px 8px rgb(13 7 47 / 24%);
  max-width: 565px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field input,
.form-field textarea {
  background-color: #f3f3f5;
  border: 1px solid #e7e6ea;
  padding: 7px;
  border-radius: 4px;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  color: #aaa8b6;
}

.form-field textarea {
  resize: none;
}

.form-field:has(input:focus) label {
  color: #75a7ff;
}

.form-field:has(textarea:focus) label {
  color: #75a7ff;
}

.contact-form button {
  margin-top: 30px;
  background-color: #2557d6;
  box-shadow: 1px 1px 8px rgb(13 7 47 / 24%);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.contact-form button:hover {
  background-color: #002fae;
}

.contact-form a {
  text-decoration: none;
}

.contact-form p {
  font-size: 14px;
}

.contact-form h4 {
  font-size: 23px;
}

.form-field label {
  margin-bottom: 7px;
}

.footer-content a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.footer-content {
  background-color: #0d072f;
}

.footer-content-2 {
  background-color: #191339;
  color: white;
}

.footer-content-2 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.footer-content-2 img {
  height: 38px;
  width: 38px;
  margin-left: 6px;
  cursor: pointer;
}
